.chat-side
  .side-bar
    .side-bar__box
      %p.side-bar__box__user-name masa
      %ul.side-bar__box__menu
        %li.side-bar__box__menu__new-group<
          = link_to "#" do
            = icon('fa', 'edit')
        %li.side-bar__box__menu__edit-user<
          = link_to "#" do
            = icon('fa', 'cog')
  .group-list
    = link_to "#", class:"group" do
      %p.group__group-name test
      %p.group__latest-message まだメッセージがありません